<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spark.bitrade.mapper.MemberBenefitsExtendsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spark.bitrade.entity.MemberBenefitsExtends">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="level_id" property="levelId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id, level_id, start_time, end_time, create_time, update_time
    </sql>

    <select id="getMemberBenefitsExtendsByMemberId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
            from member_benefits_extends
            where member_id = #{ memberId }
    </select>

</mapper>
