### Default [Include Spring Boot,Log,PowerDesigner] ###
target/
# test/
.mvn/
mvnw
mvnw.cmd
*.log
*.pdb
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.txlcn/
