<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spark.bitrade.mapper.ExchangeCoinMapper">


    <select id="getAllSymbol" resultType="com.spark.bitrade.entity.ExchangeCoin">
        SELECT symbol,display_area,is_show FROM exchange_coin
    </select>
</mapper>
