<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spark.bitrade.mapper.ExchangeReleaseWalletMapper">

    <insert id="addExchangeWalletRecord">
        INSERT INTO exchange_release_wallet (
            `id`,
            `member_id`,
            `coin_symbol`,
            `lock_amount`,
            `update_time`
        )
        VALUES
            (
                #{id},
                #{memberId},
                #{coinSymbol},
                #{lockAmount},
                now()
            )
    </insert>


    <update id="decreaseLockAmount">
        update exchange_release_wallet
        set lock_amount = lock_amount - #{amount} ,update_time = now()
        where id = #{id} and lock_amount >= #{amount}
    </update>

    <update id="updateExchangeWalletRecord">
          update exchange_release_wallet
        set lock_amount = lock_amount + #{lockAmount} ,update_time = now()
        where id = #{id}
    </update>
</mapper>