<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spark.bitrade.mapper.ExchangeFastCoinMapper">
    <select id="findByAppIdAndCoinSymbol" resultType="com.spark.bitrade.entity.ExchangeFastCoin">
        select * from exchange_fast_coin
        where app_id = #{appId}
        and coin_symbol = #{coinSymbol}
        and base_symbol = #{baseSymbol}
        and enable=1
    </select>

    <select id="list4CoinSymbol" resultType="com.spark.bitrade.entity.ExchangeFastCoin">
        select * from exchange_fast_coin
        where app_id = #{appId} and enable=1
        <if test="baseSymbol!=null and baseSymbol!=''">
            and base_symbol = #{baseSymbol}
        </if>
    </select>

    <select id="list4BaseSymbol" resultType="java.lang.String">
        select base_symbol from exchange_fast_coin
        where app_id = #{appId} and enable=1
        group by base_symbol
    </select>

</mapper>